$mintTulip: #d0f4f5;
$twilightBlue: #f8fdff;
$beige: #f5f5dc;
$midnight: #001529;
$gallery: #efefef;
$tundora: #424242;
$cyprus: #003b49;
$white: #ffffff;
$darkGray: #a9a9a9;
$darkGray70: rgba(169, 169, 169, 0.7);
$dodgerBlue: #40a9ff;
$curiousBlue: #3498db;
$mariner: #2980b9;
$mountainMeadow: #1abc9c;
$mountainMeadowSecondary: #16a085;
$black: #000000;
$blue: #0000ff;
$blackTransparent: #00000073;
$orangeTransparent: #f5dea473;
$cyan: #13c2c2;
$volcano: #fa541c;
$blueSecondary: #1890ff;
$red: red;
$yellow: #ffc300;
$black: #4d4d4d;
$lightblue: #488cf4;
$darkblue: #30448c;
